* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

header {
  width: 100vw;
}

.logo {
  background: linear-gradient(rgba(8, 22, 204, 0.41), rgba(58, 43, 232, 0.41)), url(../img/surf_logo.jpg);
  background-size: cover;
  color: white;
  font-size: 20px;
}

.logo h1 {
  font-size: 40px;
}

.logo p {
  font-size: 15px;
}

.logo .top-left {
  padding-top: 8px;
  color: black;
}

.logo-left {
  width: 25px;
  height: 25px;
}

.logo_right {
  padding-top: 8px;
  color: black;
}

.logo_right a {
  color: black;
  padding-right: 8px;
}

.logo_center {
  height: 400px;
  padding-top: 50px;
}

.logo_center p {
  color: black;
}

.logo_center h1 {
  font-size: 70px;
}

.middle-container .left-section {
  padding: 0 80px;
}

.middle-container .left-section h2 {
  color: #083452;
}

.middle-container .left-section img {
  width: 25px;
  height: 25px;
}

.middle-container .left-section span {
  opacity: .7;
}

.middle-container .left-section .middle_left_1 .blue {
  color: #0a426d;
  font-weight: bold;
}

.middle-container .left-section .middle_left_1 h2 {
  font-size: 50px;
}

.middle-container .left-section .middle_left_2 h3 {
  color: #106DB3;
  border-left: 1px solid grey;
  padding-left: 15px;
  font-size: 35px;
}

.middle-container .left-section .buttons {
  display: inline-block;
  background: #A3b3bf;
  color: white;
}

.middle-container .left-section .buttons div {
  display: inline-block;
  padding: 8px;
}

.middle-container .left-section .buttons div:first-child {
  background: #5e686f;
  color: white;
  padding: 8px;
}

.middle-container .left-section .buttons.btn-third {
  background: #106DB3;
}

.middle-container .left-section .buttons.btn-third div:first-child {
  background: #083452;
}

.middle-container .right-section {
  padding: 20px;
}

.middle-container .right-section .middle_right_1 img {
  width: 80px;
  height: 80px;
  background-size: contain;
  background: linear-gradient(rgba(8, 22, 204, 0.81), rgba(58, 43, 232, 0.81));
}

.middle-container .right-section a {
  color: black;
  opacity: .6;
  padding-right: 7px;
}

.middle-container .right-section h6 {
  color: #106DB3;
}

.middle-container .right-section .middle_right_3 p {
  font-size: 15px;
  opacity: .5;
}

.middle-container .right-section .middle_right_3 h6 {
  font-size: 15px;
}

.middle-container .right-section .middle_right_2 img {
  width: 360px;
  height: 300px;
  background-size: contain;
}

.middle-container .right-section .middle_right_2 p {
  opacity: .7;
}

.bottom-container h1 {
  color: #083452;
  font-size: 50px;
}

.pics-section {
  display: flex;
  flex-direction: row;
}

.pics-section .pics {
  flex: 1;
  width: 25vw;
  height: 25vw;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.pics-section .pics h1 {
  font-size: 2vw;
  color: black;
  flex: 1;
}

.pics-section .pic1 {
  background: linear-gradient(rgba(8, 22, 204, 0.41), rgba(58, 43, 232, 0.41)), url(../img/pic1.jpg) center/cover;
}

.pics-section .pic1:hover {
  background: linear-gradient(rgba(8, 22, 204, 0.01), rgba(58, 43, 232, 0.01)), url(../img/pic1.jpg) center/cover;
}

.pics-section .pic1:hover h1 {
  color: white;
}

.pics-section .pic2 {
  background: linear-gradient(rgba(8, 22, 204, 0.41), rgba(58, 43, 232, 0.41)), url(../img/pic2.jpg) center/cover;
}

.pics-section .pic2:hover {
  background: linear-gradient(rgba(8, 22, 204, 0.01), rgba(58, 43, 232, 0.01)), url(../img/pic2.jpg) center/cover;
}

.pics-section .pic2:hover h1 {
  color: white;
}

.pics-section .pic3 {
  background: linear-gradient(rgba(8, 22, 204, 0.41), rgba(58, 43, 232, 0.41)), url(../img/pic3.jpg) center/cover;
}

.pics-section .pic3:hover {
  background: linear-gradient(rgba(8, 22, 204, 0.01), rgba(58, 43, 232, 0.01)), url(../img/pic3.jpg) center/cover;
}

.pics-section .pic3:hover h1 {
  color: white;
}

.pics-section .pic4 {
  background: linear-gradient(rgba(8, 22, 204, 0.41), rgba(58, 43, 232, 0.41)), url(../img/pic4.jpg) center/cover;
}

.pics-section .pic4:hover {
  background: linear-gradient(rgba(8, 22, 204, 0.01), rgba(58, 43, 232, 0.01)), url(../img/pic4.jpg) center/cover;
}

.pics-section .pic4:hover h1 {
  color: white;
}

.bottom-section {
  background: #083452;
  color: white;
  opacity: .7;
  padding: 10px;
  padding-top: 40px;
}

.bottom-section ul {
  margin: 0;
}

.bottom-section li {
  padding-right: 20px;
  list-style-type: none;
  display: inline-block;
}

.bottom-section .border {
  border-right: 1px solid white;
}

.iron-yard {
  width: 60px;
  height: 60px;
}

.footer-right {
  padding-top: 20px;
}

@media screen and (max-width: 550px) {
  .pics-section {
    flex-direction: column;
  }
  .pics-section .pics {
    width: 100vw;
  }
}
