$color1:#083452;
$color2:#106DB3;
*{
    box-sizing: border-box;
}
img{
    width: 100%;
}
header{
    width: 100vw;
}
.logo{
    background:linear-gradient(rgba(8, 22, 204, 0.41),rgba(58, 43, 232,.41)), url(../img/surf_logo.jpg);
    background-size: cover;
    color: white;
    font-size: 20px;
    h1{
        font-size: 40px;
    }
    p{
        font-size: 15px;
    }
    .top-left{
        padding-top: 8px;
        color: black;
    }
}
.logo-left{
    width: 25px;
    height: 25px;
}
.logo_right{
    padding-top: 8px;
    color: black;
    a{
        color: black;
        padding-right: 8px;
    }
}
.logo_center{
    height: 400px;
    padding-top: 50px;
    p{
        color: black;
    }
    h1{
        font-size: 70px;
    }
}
.middle-container{
    .left-section{
        padding:0 80px;
        h2{
            color: $color1;
        }
        img{
            width:25px;
            height: 25px;
        }
        span{
            opacity: .7;
        }
        .middle_left_1{
            .blue{
                color: darken(#106DB3, 15%);
                font-weight: bold;
            }
            h2{
                font-size: 50px;
            }
        }
        .middle_left_2 h3{
            color:$color2;
            border-left: 1px solid grey;
            padding-left: 15px;
            font-size: 35px;
        }
        .buttons{
                display: inline-block;
                background: #A3b3bf;
                color: white;
                div{
                    display: inline-block;
                    padding: 8px;
                }
            div:first-child{
                background: #5e686f;
                color: white;
                padding: 8px;
            }
            &.btn-third{
                background: $color2;
                div:first-child{
                    background: $color1;
                }
            }
        }
    }
    .right-section{
        padding: 20px;
        .middle_right_1 img{
            width: 80px;
            height: 80px;
            background-size: contain;
            background:linear-gradient(rgba(8, 22, 204, 0.81),rgba(58, 43, 232,.81));
        }
        a{
                color: black;
                opacity: .6;
                padding-right: 7px;
        }
        h6{
            color:$color2;
        }
        .middle_right_3 {
            p{
            font-size: 15px;
            opacity: .5;
            }
            h6{
                font-size: 15px;
            }
        }
        .middle_right_2 {
        img{
            width: 360px;
            height: 300px;
            background-size: contain;
        }
        p{
            opacity: .7;
        }
        }
    }
}
.bottom-container{
    h1{
        color: $color1;
        font-size: 50px;
    }
}
.pics-section{
    display: flex;
    flex-direction: row;
    .pics{
        flex: 1;
        width: 25vw;
        height: 25vw;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        padding: 10px;
        h1{
            font-size: 2vw;
            color: black;
            flex: 1;
        }
    }
    .pic1{
        background:linear-gradient(rgba(8,22,204,0.41),rgba(58,43,232,.41)), url(../img/pic1.jpg) center / cover;
        &:hover{
            background:linear-gradient(rgba(8,22,204,0.01),rgba(58,43,232,.01)), url(../img/pic1.jpg) center / cover;
            h1{
                color: white;
            }
        }
    }
    .pic2{
        background:linear-gradient(rgba(8,22,204,0.41),rgba(58,43,232,.41)), url(../img/pic2.jpg) center / cover;
        &:hover{
            background:linear-gradient(rgba(8,22,204,0.01),rgba(58,43,232,.01)), url(../img/pic2.jpg) center / cover;
            h1{
                color: white;
            }
        }
    }
    .pic3{
        background:linear-gradient(rgba(8,22,204,0.41),rgba(58,43,232,.41)), url(../img/pic3.jpg) center / cover;
        &:hover{
            background:linear-gradient(rgba(8,22,204,0.01),rgba(58,43,232,.01)), url(../img/pic3.jpg) center / cover;
            h1{
                color: white;
            }
        }
    }
    .pic4{
        background:linear-gradient(rgba(8,22,204,0.41),rgba(58,43,232,.41)), url(../img/pic4.jpg) center / cover;
        &:hover{
            background:linear-gradient(rgba(8,22,204,0.01),rgba(58,43,232,.01)), url(../img/pic4.jpg) center / cover;
            h1{
                color: white;
            }
        }
    }
}
.bottom-section{
    background: $color1;
    color: white;
    opacity: .7;
    padding: 10px;
    padding-top: 40px;
    ul{
        margin: 0;
    }
    li{
        padding-right: 20px;
        list-style-type: none;
        display: inline-block;
    }
    .border{
        border-right:1px solid white;
    }
}
.iron-yard{
    width: 60px;
    height: 60px;
}

.footer-right{
    padding-top: 20px;
}
@media screen and (max-width:550px){
    .pics-section{
        flex-direction: column;
        .pics{
            width: 100vw;
        }
    }
}
